* {
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  color: #D0D1D5;
  background-color: #868686;
  min-height: 100hv;
  position: relative; }
  body i {
    color: #CDA448; }

main {
  font-family: 'Poppins', sans-serif;
  color: #00091D;
  font-weight: bold;
  text-align: justify; }
  main p {
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-bottom: 0rem; }
  main h1, main h2, main h3, main h6 {
    text-align: center;
    color: #CDA448;
    font-weight: bold;
    margin-bottom: 0; }

h3, h6 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem; }

section, nav {
  border: 2px solid #000000;
  border-bottom: 0px; }

.navbar {
  padding: 0.5rem 1rem 0.5rem 0rem;
  padding-bottom: 0;
  background: #752a2a;
  background: linear-gradient(90deg, #752a2a 0%, #00091d 54%);
  font-family: 'Piazzolla', sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }
  .navbar .navbar-brand {
    padding-top: 0;
    margin-right: 0; }
  .navbar #rrss {
    margin-top: 5px;
    line-height: 30px;
    font-size: 30px;
    margin: auto 2px auto 2px; }
  .navbar .dropdown-menu {
    background-color: #CDA448; }
  .navbar .dropdown-item {
    text-align: center;
    font-size: 1.1rem;
    padding-right: 0;
    padding-left: 0; }

.title1, .title3, .title6 {
  background-color: #00091D; }

#t3 {
  margin-top: 1rem; }

#t4 {
  padding-right: 0;
  padding-left: 0; }

.pad {
  padding-top: 1rem;
  padding-bottom: 6rem; }

footer {
  background: #752a2a;
  background: linear-gradient(90deg, #00091d 44%, #752a2a 84%); }
  footer .foot {
    padding-right: 3px;
    padding-left: 3px;
    line-height: 1;
    font-weight: 700;
    color: #CDA448;
    font-size: 0.9rem; }
  footer .creador {
    text-align: end;
    margin: 0;
    font-size: 0.9rem;
    color: #D0D1D5; }

.carousel-section {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px; }
  .carousel-section #client {
    overflow: hidden;
    border-radius: 45px; }
    .carousel-section #client .carousel-indicators li {
      border: 0;
      background-color: #CDA448;
      width: 10px;
      height: 10px;
      border-radius: 100%; }
    .carousel-section #client .carousel-indicators li.active {
      background-color: #00091D; }
    .carousel-section #client .carousel-arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 20px;
      display: block;
      text-align: center;
      border-radius: 100%; }
    .carousel-section #client .carousel-arrow.prev {
      left: 0.1rem; }
    .carousel-section #client .carousel-arrow.next {
      right: 0.1rem; }
  .carousel-section .carru {
    height: 350px; }

.card {
  padding: 0rem 0rem 1rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #CDA448; }
  .card h4 {
    margin-top: 1rem;
    background-color: #00091D;
    color: #CDA448; }
    .card h4 + img {
      margin-left: 0; }
  .card .left {
    text-align: left; }
  .card .right {
    text-align: right; }

.article1, .article3 {
  padding-left: 0;
  padding-right: 0; }

.article2 {
  padding-right: 0px;
  padding: 0; }
  .article2 #card {
    margin: 0; }
  .article2 ul {
    margin: 0; }

.banner {
  width: 565px;
  height: 922px;
  padding: 0rem 0rem 0rem 0.1rem;
  margin: 0; }

img.card {
  margin-bottom: 1rem;
  width: 537px;
  height: 350px; }

section .article__producto1 {
  background-color: aqua;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

section .article__producto2 {
  background-color: blueviolet;
  margin-left: 0;
  margin-right: 0; }

section .article__producto3 {
  background-color: cadetblue;
  margin-left: 0;
  margin-right: 0; }

section .article__producto4 {
  background-color: chartreuse;
  margin-left: 0;
  margin-right: 0; }

section .p__producto--left {
  text-align: left;
  background-color: #CDA448;
  margin-top: 7rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: italic; }

section .p__producto--right {
  text-align: right;
  color: #CDA448;
  background-color: #00091D;
  margin-top: 7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic; }

section .button__producto--white {
  background-color: white; }

section .button__producto--chocolate {
  background-color: chocolate; }

section .button__producto--green {
  background-color: green; }

section .button__producto--blue {
  background-color: blue; }
